body, html {
    height: 100%;
    font-family:"PT sans", sans-serif;
    color:rgb(0, 0, 0);
    background-color: w;
    line-height: 1.6;
}

.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url(https://www.usatoday.com/gcdn/authoring/authoring-images/2024/09/10/USAT/75160632007-smoked-brisket.jpg?crop=1440,1079,x238,y0);
    background-position: top center;
    animation: hockenson 5s infinite;
    background-size: cover;
    position: sticky;
    height: 1000px;
    width: 100%;
}

.sepheader {
    opacity: 100%;
}

.sepheader:hover {
    opacity: 100%;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: black double;
    width: 100%;
    background: #E6B983;
    background: linear-gradient(135deg, #E6B983, #DB9928);
    opacity: 50%;
    font-weight: bold;
}

header:hover {
    opacity: 0.75;
}

@keyframes hockenson {
    50% {background-position: right;
    }
}

@keyframes smith {
    50% {
        transform: rotate(10deg);
    }
}

@keyframes gibbs {
     25% {
        transform: rotate(
     20deg);
        left: 0px;
     }
     70% {
        transform: rotate(
     0deg);
        left: 500px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHz1v2FD9A0uAXoU5ASs3--A_W5PeBd0Ki4Q&s);
        background-size: cover;
    }
     100% {
        transform: rotate(
     -360deg);
        left: 0px;
     }
     
  }

ul {
    display: flex;
    list-style-type: none;
    gap: 150px;
    flex-direction: row;
    flex: 1;
}

nav a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 20px;
    border-radius: 25%;
    font-size: larger;
}

nav a:active {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 350px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

h1 {
    font-size: 4.972rem;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
}

p {
    font-size: 11.872/2.986;
}

main aside {
    font-family: sans-serif;
    position: relative;
    background: lightblue;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 18px;
    padding: 25px;
}

.img {
    position: sticky;
    height: 100px;
    /* padding-right: 1000px; */
    opacity: 100%;
    border-radius: 50px;
    animation: smith 5s infinite;
    display: none;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catering {
    text-align: center;
    position: relative;
    background: lightblue;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 18px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catering img {
    padding: 40px;
    background-color: white
}

.catering p {
    padding: 20px;
    font-size: larger;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 230px;
    justify-content: center;
    font-weight:bolder;
    color:darkslategrey;
}

img {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.burrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    margin-top: 500px;
    gap: 400px;
    animation: gibbs 5s infinite ;
}

h1{
    font-size: 3.815rem;
    font-size: clamp(3.815rem, 3.456rem + 1.7950000000000004vw, 5.61rem);;
}
    
h2{
    font-size: 3.052rem;
    font-size: clamp(3.052rem, 2.8206rem + 1.1569999999999996vw, 4.209rem);
}
    
h3{
    font-size: 2.441rem;
    font-size: clamp(2.441rem, 2.2977999999999996rem + 0.7160000000000002vw, 3.157rem);
}
    
h4{
    font-size: 1.953rem;
    font-size: clamp(1.953rem, 1.8698000000000001rem + 0.41600000000000015vw, 2.369rem);    
}

@media (max-width: 75rem) {
    body {padding: 10px;}

  }

@media (max-width: 75rem) {

  }

@media (max-width: 70rem) {
    nav {
        padding-left: 100px;
        margin: 5px;
    }

}

.nav-desktop {
    display: block;
}

.nav-desktop ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 15px;
}

.nav-mobile {
    display: none;
}

.nav-mobile ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1px;
}

@media (max-width:40rem) {
header {
    padding: 10px;
}
.nav-desktop {
    display: none;
}

.nav-mobile {
    display: flex;
    transform: translateX(-150%);
    transition: transform .5s ease;
}
.hamburger {
    display: flex;
}
.nav-icon-hamburger {
    display: block;
}  
.nav-icon-close {
    display: none;
}
    
.check:checked ~ .hamburger .nav-icon-hamburger {
        /* 1) Hide it visually */
opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
pointer-events: none;
    /* 3) Hide it from screen readers */
visibility: hidden;
    /* display: none; */
}
.check:checked ~ .hamburger .nav-icon-close {
display: block;
}   
.check:checked ~ .nav-mobile {
transform: translateX(0%);
    }
}

.check {
    position: absolute;
    left: -100px;
}

@media (min-width: 40rem){
.hamburger {
    display: none;
}
.img {
    display: flex;
}
}