body, html {
    height: 100%;
    font-family:"PT sans", sans-serif;
    color:rgb(0, 0, 0)
}

.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url(https://www.usatoday.com/gcdn/authoring/authoring-images/2024/09/10/USAT/75160632007-smoked-brisket.jpg?crop=1440,1079,x238,y0);
    background-position: top center;
    animation: hockenson 5s infinite;
    background-size: cover;
    position: sticky;
    height: 1000px;
    width: 100%;
}

.sepheader {
    opacity: 100%;
}

.sepheader:hover {
    opacity: 100%
    ;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: black double;
    width: 100%;
    background: #E6B983;
    background: linear-gradient(135deg, #E6B983, #DB9928);
    opacity: 50%;
}

header:hover {
    opacity: 0.75;
}

@keyframes hockenson {
    50% {background-position: right;
    }
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    flex-direction: row;
    flex: 1;
}

nav a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 20px;
    background-color: rgb(252, 194, 123);
    border-radius: 25%;
}

nav a:active {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

h1 {
    font-size: 4.972rem;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
}

p {
    font-size: 9.872/2.986;
}

main aside {
    font-family: sans-serif;
    position: relative;
    background: lightblue;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 18px;
    padding: 25px;
}

.img {
    position: sticky;
    height: 100px;
    padding-right: 1000px;
    opacity: 100%;
    border-radius: 60px;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catering {
    text-align: center;
    position: relative;
    background: lightblue;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 18px;
    padding: 25px;
}
